$white: #fff;
$primary-color: #8c2f5e;
$secondary-color1: #2b823a;
$secondary-color2: #a4a938;
$complement-color: #8d0687;
$primary-sub: #69113e;
$secondary-sub1: #10621e;
$secondary-sub2: #7b7f15;
$complement-sub: #000;
